
src/.DS_Store
.DS_Store
*.pyc
*.pyc
gillespie.ipynb
.ipynb_checkpoints/gillespie-checkpoint.ipynb
src/__pycache__/reaction_string_parser.cpython-39.pyc
*.pyc
.ipynb_checkpoints/gillespie-checkpoint.ipynb
